* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color .1s;
    padding: 10px;
  }
  
  a:hover {
    color:black;
  }
  
  button {
    background-color: lightslategray;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: black;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: silver;
  }
  
  header h1 {
    font-size: 1em;
  }

  header h2 {
    background-color: lightslategrey;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 10px;
  }
  
  .btn-no-style:hover {
    background: none;
    text-decoration: underline;
    color: black;
  }
  
  .delete-post-btn {
    background-color: lightblue;
  }
  
  .delete-post-btn:hover {
    background-color: black;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }

  .user-post {
    margin-top: 5%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: 1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: left;
    padding: 1%;
    font-size: 110%;
  }